.price_cart{
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    color: azure;
}
.add_cart{
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.quantity_cart{
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    color: azure;
}
.quantity_buttons{
    width: 4rem;
    display: flex;
    justify-content: space-between;
}
.btn_quantity{
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    border-radius: 5px;
    border: 2px solid #fff;
    cursor: pointer;
    background-color: #32C759;
}
/* ---------------------CART---------------------------- */
.btn_cart{
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
    right: 1rem;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    background-color: #32C759;
}
.item_cart{
    width: 100%;
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 4.2rem 1rem 1rem 1rem;
    border-radius: 0 0 0 10px;
    border-left: 2px solid #32C759;
    border-bottom: 2px solid #32C759;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 60;
}
.btn_cart ~ input:checked ~ .item_cart{
    display: none;
}
.article{
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #BAD6D0;
}
.title_cart{
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: azure;
}
.img_cart{
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
.buy_remove{
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
}
.btn_buy{
    height: 2.2rem;
    width: 6rem;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 10px;
    border: 2px solid #fff;
    cursor: pointer;
    color: azure;
    background-color: #40C732;
}
.btn_remove{
    height: 2.2rem;
    width: 6rem;
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 10px;
    border: 2px solid #fff;
    cursor: pointer;
    color: azure;
    background-color: #32C7BE;
}