section{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
label{
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: azure;
}
input{
    cursor: pointer;
}
span{
    font-family: "Noto Sans", sans-serif;
    font-size: 1.2rem;
    color: #32C88D;
}
.range_price{
    accent-color: #32C88D;
}
.whole_price, .whole_category{
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.category_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_category{
    width: 8.5rem ;
    height: 2rem;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 50;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #32C88D;
}
.menu_option{
    margin-top: 2rem;
    width: 8rem;
    height: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 50;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #000;
}
.menu_option_hidden{
    display: none;
}
@media (max-width: 639px) {
    .filters{
        height: 4rem;
        display: flex;
        align-items: flex-start;
    }
    .whole_price, .whole_category{
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .whole_price > label, .whole_category > label{
        font-size: 1rem;
    }
    .whole_price > span{
        font-size: 1rem;
    }
    .btn_category{
        width: 7rem;
        font-size: 0.8rem;
    }
    .menu_option{
        width: 6.5rem;
    }
}